<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Anugrah Distributor Indonesia Service</title>
  <%= stylesheet_link_tag "https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" %>
</head>
<body>
  <div class="container">
    <%= yield %>
  </div>
</body>
</html>
